html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background: transparent;
}

#app {
  height: 100%;
  font-size: 16px;
}

html::-webkit-scrollbar {
  display: none;
}
